body {
  min-height: 98vh;
  color: white;
  background: linear-gradient(45deg, red, blue);
}

.activation {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#party-on {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 2rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

/* todo: Fix background-color not changing on hover  */

#party-on :hover {
  background-color: hsl(0, 0%, 40%);
}